.social {
  font-weight: 600;
}

.contentinfo {
  background-color: var(--color-secondary-dark);
}

.contentinfo li {
  color: #fff;
}


.copyright li {
  color: var(--color-secondary-light);
}

.social li {
  display: block;
}

.social-media {
  color: var(--color-primary);
}

.colors:hover {
  fill: blue;
}

@media only screen and (min-width: 38em) {

  .social {
    margin: auto;
  }

}

@media only screen and (min-width: 60em) {

  .social {
    text-align: center;
  }

  .social li {
    width: 24%;
  }

}
