.info-container {
  background: var(--color-secondary-light);
}

.description h3, p {
 color: var(--color-primary);
 /* display: inline-block; */
}

h1 {
  font-weight: 700;
}

.description h2 {
 color: var(--color-secondary-dark);
 font-weight: bold;
}

.company-name h2 {
 color: var(--color-secondary-dark);
 font-weight: bold;
}

.description {
  background-color: var(--color-secondary-light);
}
