.info-container {
  background: var(--color-secondary-light);
}

.description p {
 color: var(--color-primary);
 display: block;
}

.description h2 {
 color: var(--color-secondary-dark);
 font-weight: bold;
}

.company-name h2 {
 color: var(--color-secondary-dark);
 font-weight: bold;
}

.description {
  background-color: var(--color-secondary-light);
}
