<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat&display=swap" rel="stylesheet">
</head>
<body class="relative">
  <ul class="skip-links">
    <li><a href="#nav">Jump to navigation content</a></li>
    <li><a href="#main">Jump to main content</a></li>
  </ul>

  {% pattern banner/main-banner heading="Connect. Build. Grow." text="Experience Better Design Now" banner_img="/images/placeholder-16by9.svg" %}
  <main role="main" tabindex="0">
    {{content}}
  </main>
{% pattern footer/footer social1="Facebook" icon1="/images/facebook.svg" link1="https://wwww.facebook.com" social2="Twitter" icon2="/images/twitter.svg" link2="https://wwww.twitter.com" social3="Pinterest" icon3="/images/pinterest.svg" link3="https://wwww.pinterest.com" social4="Instagram" icon4="/images/instagram.svg" link4="https://wwww.instagram.com" %}

</body>
</html>
