<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat&display=swap" rel="stylesheet">
</head>
<body class="relative">
  <ul class="skip-links">
    <li><a href="#nav">Jump to navigation content</a></li>
    <li><a href="#main">Jump to main content</a></li>
  </ul>

{% pattern header/header logo="/images/design-mind-logo.svg" %}
  <main role="main" tabindex="0">
    {{content}}
  </main>
{% pattern footer/footer social1="Facebook" icon1="/images/placeholder-1by1.svg" link1="https://wwww.facebook.com" social2="Facebook" icon2="/images/placeholder-1by1.svg" link2="https://wwww.facebook.com" social3="Facebook" icon3="/images/placeholder-1by1.svg" link3="https://wwww.facebook.com" social4="Facebook" icon4="/images/placeholder-1by1.svg" link4="https://wwww.facebook.com" %}

</body>
</html>
