<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat&display=swap" rel="stylesheet">
</head>
<body class="relative">
  <ul class="skip-links">
    <li><a href="#nav">Jump to navigation content</a></li>
    <li><a href="#main">Jump to main content</a></li>
  </ul>

  <!-- {% pattern header/header %}
  <main role="main" tabindex="0">
    {{content}}
  </main>
  {% pattern footer/footer %} -->

</body>
</html>
