.container {
  height: 100vh;
}

.main-banner {
  color: #fff;
  height: 100vh;
  background-image: url("/images/placeholder-16by9.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
}

.hero-banner {
  color: var(--color-secondary);
  height: 80vh;
  background-image: url("/images/placeholder-16by9.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  /* background-position: left bottom; */
  background-position: -20px 50px;
  overflow: hidden;
}
